@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url("./fonts/OpenSauceOne-Regular.woff") format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px rgba(46, 46, 46, 0.411);
}
input:hover {
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0 5px 10px rgba(46, 46, 46, 1);
}

button {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.473);
  box-shadow: 0 5px 10px rgba(46, 46, 46, 0.411);
}
button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 0 5px 10px rgba(46, 46, 46, 1);
}

body {
  margin: 0;
  font-family: 'MyFont';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-90deg, mainColor 0%, darkestColor 100%);
  line-height: 2em;
  font-size: 18px;
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
